:root {
    --primaryColor: #DEB341;
    --secondaryColor: #233F4D;
    --tertioryColor: #0E1B21;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --hintTextColor: #626262;
    --borderColor: #EEEEEE;
    --cardColor: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



/* Hero Section */
.hero {
    background-image: url("../assets/career-header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.heading-div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}


.heading {
    font-size: 4rem;
    font-weight: 600;
    color: var(--whiteColor);
}

.solutions-highlight {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primaryColor);
}


.sub-heading-div {
    width: 65%;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--whiteColor);
}

/* Career Section CSS */

.career-container {
    padding: 50px 80px;
  display: flex;
  max-width: 100;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.job-list {
    margin-right: 50px;
    padding-top: 30px;
  width: 25%;
  background: color-mix(in srgb, var(--secondaryColor), transparent 90%);
  border-radius: 25px;
}

.job-list-2 {
    list-style-type: none;
}

.job-list h3 {
  margin-bottom: 30px;
  margin-left: 30px;
}

.job-item {
  padding: 15px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.job-item.active,
.job-item:hover {
  background: var(--primaryColor);
  color:var(--whiteColor);
}

.form-wrapper {
  flex: 1;
  padding: 30px 40px;
}

.form-wrapper h2 {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.form-wrapper p {
  color:var(--hintTextColor);
  margin-bottom: 25px;
}

label {
    text-align: start;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--secondaryColor);
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

.row.two {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 30px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid color-mix(in srgb, var(--secondaryColor), transparent 90%);
  border-radius: 10px;
}


textarea {
    resize: vertical;
    width: 100%;
    min-height: 300px;
}

input::placeholder, textarea::placeholder {
    font-size: 14px;
}

button {
  width: 100%;
  background:var(--primaryColor);
  border: none;
  color: var(--whiteColor);
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background:var(--primaryColor);
}