:root {
    --primaryColor: #DEB341;
    --secondaryColor: #233F4D;
    --tertioryColor: #0E1B21;
    --secondaryColor2: #36657D;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --hintTextColor: #626262;
    --borderColor: #EEEEEE;
    --cardColor: #FAFAFA;
}

/* Industries Hero CSS */
.industries-hero {
    background-image: url("../assets/industries-hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: end;
    height: 750px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 3rem;
    border-radius: 50px;
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;

}

.industries-header-content {
    display: flex;
    justify-content: space-between;
    align-content: end;
    align-items: end;
}

.industries-heading-div {
    width: 50%;
}

.industries-heading-div h1 {
    width: 70%;
    font-size: 64px;
    font-weight: 600;
    color: var(--whiteColor);
}

.industries-highlight {
    font-size: 64px;
    font-weight: 600;
    color: var(--primaryColor);
}

.industries-sub-heading-div {
    padding-top: 20px;
    width: 70%;
}

.industries-sub-heading-div {
    font-size: 32px;
    font-weight: 500;
    color: var(--whiteColor);
}

.arrow-button img {
    width: 70px;
    height: 70px;
}


/* Description Section CSS */
.description-section{
    padding: 50px 80px;
}

.more-about-inseyab img {
    width: 10%;
}

.description-title {
    text-align: center;
}



/* AI-Solution Section CSS */
.solution-section {
  padding: 50px 80px;
  background-color: color-mix(in srgb, var(--secondaryColor), transparent 90%);
}

.solution-section-header {
    display: block;
}

.heading3 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondaryColor);
}

.highlight4 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primaryColor);
}


.subtitle3-div {
  width: 100%;
}

.subtitle3 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: var(--hintTextColor);
}

.subtitle4 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: var(--hintTextColor);
}

.solution-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.solution-item {
  display: flex;
  flex-direction: column;
}

.solution-item img {
  width: 100%;
  height: auto;
}

.solution-item h4 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.solution-item p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--hintTextColor);
}

.solution-arrow-div {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.arrow-left {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 1000px;
  background-color:var(--secondaryColor);
}

.arrow-left img {
  width: 100%;
}

.arrow-right {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 1000px;
  background-color:var(--secondaryColor);
}

.arrow-right img {
  width: 100%;
}

/* Slider wrapper behavior */
.solution-grid {
  display: flex;
  gap: 30px;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* Each slide */
.solution-item {
   flex: 0 0 calc((100% - 60px) / 3); /* subtract total gap between 3 slides */
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease;
}

/* Arrow disabled state */
.arrow-disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* Use-Case Section */
.usecase-section {
    padding: 50px 80px;
    background-color: transparent;
}


/* Milestone Section CSS */

.milestone-section {
    padding: 50px 50px;
    margin: 50px 80px;
    background-image: linear-gradient(to bottom right, var(--secondaryColor), var(--secondaryColor2));
    border-radius: 50px;
     display: flex;
  flex-direction: column;    
  align-items: center;       
  text-align: center;
    
}

.milestone-heading {
    width: 40%;
    font-size: 48px;
    font-weight: 600;
    color: var(--whiteColor);
}

.milestone-highlight {
    font-size: 48px;
    font-weight: 600;
    color: var(--primaryColor);
}

.milestone-subtitle {
    padding-top: 20px;
    width: 56%;
    font-size: 18px;
    font-weight: 500;
    color: var(--whiteColor);
}

.explore-usecase2-btn {
  margin-top: 30px;
  padding: 5px;
  padding-right: 30px;
  height: 60px;
  background-color: var(--whiteColor);
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  border-radius: 1000px;
}

.explore-usecase2-btn img {
  height: 100%;
}

.explore-usecase2-btn p {
  font-size: 18px;
  font-weight: 300;
  color: var(--secondaryColor);
}

.milestone-stats-grid {
     padding-top: 30px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.milestone-stats {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: start;
    padding: 15px;
    border-radius: 16px;
    background-color: color-mix(in srgb, var(--whiteColor), transparent 90%);
}

.stats-line {
    width: 3px;
    height: 80px;
    border-radius: 50px;
    background-color: var(--primaryColor);
}

.stats-data{
    justify-content: start;
    text-align: left;
    padding-left: 10px;
}

.stats-no {
    font-size: 60px;
    line-height: 1;
    font-weight: 500;
    color: var(--whiteColor);
}

.stats-desc {
    font-size: 14px;
    font-weight: 400;
    color: color-mix(in srgb, var(--whiteColor), transparent 30%);;
}


/* FAQ Section CSS */

.industries-faq-section {
  padding: 50px 80px;
}

.container8 {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title8-div {
  text-align: center;
}

.heading8 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--secondaryColor);
}

.highlight9 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primaryColor);
}

.subtitle9-div {
  width: 35%;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.subtitle9 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--hintTextColor);
}

.industries-faq-section-2 {
  max-width: 100%;
  margin: auto;
}

.industries-faq-item {
  border-bottom: 1px solid var(--borderColor);
}

.industries-faq-item {
  border-bottom: 1px solid var(--borderColor);
}

.industries-faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: var(--secondaryColor);
}

.industries-faq-question .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--cardColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: all 0.3s ease;
}

.industries-faq-item.active .icon {
  background: var(--primaryColor);
  color: var(--whiteColor);
}

.industries-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.industries-faq-answer p {
  padding: 0 0 18px 0;
  color:var(--hintTextColor);
  font-size: 14px;
  line-height: 1.6;
}

.industries-faq-item.active .industries-faq-answer {
  max-height: 200px;
}

